.footer-container {
  display: flex;
  align-items: baseline;
}
.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-div-one {
  margin-right: 70px;
}
.footer-div-two {
  width: 206px;
}
.footer-div-three {
  margin-left: auto;
}
.list-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.contacts-footer {
  font-size: 14px;
  line-height: 1.71;
  color: var(--trird-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.join-us,
.subscription-form-title {
  color: #ffffff;
  margin-bottom: 20px;
}
.social-list-link.in-footer {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-form-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  padding-left: 16px;
  margin-right: 12px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
.subscription-form {
  display: flex;
  margin-left: auto;
}
.button__icon--end {
  margin-left: 10px;
}
